@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@media (min-width: 961px) {
.task {
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
    margin: 5px auto;
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgb(141, 136, 136);
    font-family: 'Oswald', sans-serif;
}

    .task__text {
        width: 600px;
        font-size: 16px;    
        font-weight: bold;
        word-wrap: break-word;
        padding-left: 10px;

    }


    .task__timer {
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .task__timer__deadline {
        color: green;
        margin: 0 auto;
    }

    .task__timer__deadline__timeout {
        color: red;
        margin: 0 auto;
    } 

        .task__timer__buttons {
            width: 50px;
            margin: 0 auto;
        }

        .task__timer__buttons h3 {
            margin: 0;
            padding: 0;
            cursor: pointer;
            width: 15px;
        }

        .done__button:hover {
            color: green;
        }

        .delete__button:hover {
            color: red;
        }

        .edit__button:hover {
            color: yellow;
        }

        .task__text__edit {
            width: 500px;
            height: 100px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
    
        }

        .edit__input {
            display: block;
            width: 200px;
            margin-left: 20px;
        }

        .edit__input__date {
            display: block;
            width: 150px;
 
        }

}

@media (max-width: 960px) {
    .task {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid rgb(204, 204, 204);
        margin: 5px auto;
        border-radius: 3px;
        box-shadow: 1px 0px 5px rgb(141, 136, 136);
        font-family: 'Oswald', sans-serif;
    }
    
        .task__text {
            width: 250px;
            margin: 0 auto;
            padding-left: 10px;
            font-size: 16px;    
            font-weight: bold;
            word-wrap: break-word;
        }
    
            .task__text h3 {
                margin: 0 auto;
                padding-left: 10px;
                
            }
    
        .task__timer {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
 
        }
    
            .task__timer__deadline {
                color: green;
                margin: 0 auto;
                font-size: 10px;
            }

            .task__timer__deadline__timeout {
                color: red;
                margin: 0 auto;
                font-size: 10px;
            }


    
            .task__timer__buttons {

                margin: 0 auto;
            }
    
            .task__timer__buttons h3 {
                margin: 5px;
                padding: 0;
                cursor: pointer;
                width: 15px;
                margin-left: 10px;
                display: inline-block;
            }
    
            .done__button:hover {
                color: green;
            }
    
            .delete__button:hover {
                color: red;
            }
    
            .edit__button:hover {
                color: yellow;
            }
    
            .task__text__edit {
                display: flex;
                align-items: center;
                box-sizing: border-box;
        
            }
    
            .edit__input {
                display: block;
                margin: 10px;

            }
    
            .edit__input__date {
                display: block;
                margin: 0 auto;
            }
}